nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    //- Navbar content
    a.navbar-brand(href='') SISTEMA DE AGENTES DE CUENTA
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon 
          
    div.collapse.navbar-collapse(id="navbarText")
      div.navbar-nav
          a.nav-item.nav-link.active(href='#')
            Home 
            span.sr-only (current)

          a.nav-item.nav-link(href='/') Inicio

          a.nav-item.nav-link(href='http://localhost:3000/auth/signup') Registrarse

          a.nav-item.nav-link(href='http://localhost:3000/auth/signin') Login
          
          a.nav-item.nav-link(href='#') Nombre de Usuario

          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              Mas
        
            div.dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href="#") Perfil
              a.dropdown-item(href="#") Cerrar Sesión 

