extends ../templates/default

block content
    br
    h2.mt-2.pl-2 DEUDORES
    br

    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Agregar un nuevo deudor
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#')
        li.nav-item
          a.nav-link(href='#')
      a.btn.btn-success(href="http://localhost:3000/users/Ndeudores")  Agregar

    table.table.table-bordered.table-hover.mt-5.mb-3
            thead(style="")
                tr
                    th Name
                    th Numero Cliente
                    th Region
                    th Telefono M.
                    th Telefono C.
                    th Deuda
                    th Fecha Deuda
                    th Fecha Venc.
                    th Actions
            tbody(style="")
            -each val in data
                 tr(style="font-size: 10px;")
                    td #{val.Nombre}
                    td #{val.NumCliente}
                    td #{val.Region}
                    td #{val.TelefonoMovil}
                    td #{val.TelefonoContacto}
                    td $#{val.Deudas}
                    td #{val.FechaD}
                    td #{val.FechaV}
                    td
                        a.btn.btn-info(href="http://localhost:3000/users/UpDeudor")  Update
                        br 

                            