extends ../templates/default
block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Users
        li.breadcrumb-item.active Sesiones Dia
    H3.mt-5.text-center SESIONES DEL DIA
    form(id="form1")
    div(class='row' id="dvContainer")
        p.ml-5 This content needs to be printed.
        
            //- div(class='col-md-8 offset-md-2 mt-5')
            //-     //- if message.length > 0
            //-     //-     div.alert.alert-success.alert-dismissible.fade.show(role="alert")=message
            //-     //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            //-     //-             span(aria-hidden="true") &times;
            //-     div.card.border-success
            //-         div.card-header.text-center Desglose del Dia
                        
            //-         div.card-body

            //-             form(method="post" action="/users/reportesDia")
                            
            //-                 div.form-row
            //-                     div.form-group.col-md-6
            //-                         label(for='fecha') Fecha
                                        
            //-                         input#fecha.form-control(type='date' name="fecha")
                                
                                
            //-                 button.btn.btn-primary(type='submit') Ver Dia
        table.table.table-hover.col-sm-8.offset-2.mt-5
            thead(class="thead-dark")
                tr
                    th(scope='col') Sesion
                            
                    th(scope='col') Fecha Sesión
                            
                    th(scope='col') Hora
                            
                    th(scope='col') Comentarios
                
            tbody
            -each val in data

                tr(class="table-type")
                    th(scope="row">Info) #{val.idCapturaSesion}
                    td #{val.Fecha}
                    td #{val.Hora}
                    td #{val.Comentarios}   
    
    input.btn.btn-outline-primary.ml-5(type="button" value="Imprimir Reporte" id="btnPrint")


    script(type="text/javascript").
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>REPORTE DEL DIA</title> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });