extends ../templates/default
 
block content

    div(class='row')
        div(class='col-md-6 offset-md-3 mt-5')
            div.card
                div.card-header.text-center Registro
                
                div.card-body
                    form(action="http://localhost:3000/auth/signup" method="post" autocomplete='off')
                    
                        div.form-group
                            label(for='email') Email address
                                
                            input.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email' id='email' name="email")
                                
                            small.form-text.text-muted We&apos;ll never share your email with anyone else.   

                    
                        div.form-group
                            label(for='password') Password
                                
                            input.form-control(type='password', placeholder='Password' id='password' name='password')
                     
                        
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') REGISTRARSE