extends layout.jade

block content
	// h1 Hola mundo desde Jade *Comentario visible como comentario de HTML enn el navegador
	//- h2 Estaciones del Año en México *Comentario en Jade se ocultará en el HTML del navegador
	//- Bloque de 
	setion.container
		include header
			div.item
				form.form(method="POST" action="/")
					fieldset
						div.container.p1
							label.item.i-b.v-top.ph3.right(for="movie_id") IMB id:
							input.item.i-b.v-top.ph9#movie_id(type="text", name="movie_id", required)
						div.container.p1
							label.item.i-b.v-top.ph3.right(for="name_title") Titulo:
							input.item.i-b.v-top.ph9#name_title(type="text", name="name_title", required)
						div.container.p1
							label.item.i-b.v-top.ph3.right(for="release_year") Año:
							input.item.i-b.v-top.ph9#release_year(type="text", name="release_year", required)
						div.container.p1
							label.item.i-b.v-top.ph3.right(for="rating") Calificacion:
							input.item.i-b.v-top.ph9#rating(type="text", name="rating", required)
						div.container.p1
							label.item.i-b.v-top.ph3.right(for="image") Poster:
							input.item.i-b.v-top.ph9#image(type="text", name="image", required)
						br
						div.container.p1
							input.item.ph4.mauto.button.add(type="submit" value="Agregar")