doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		title= title
		//- meta(name="description", content="#{description}")
		link(rel="stylesheet", href="/css/estilos.css")
		link(rel="stylesheet", href="/css/responsimple.min.css")
	body
		block content