hr
footer.container
    p.float-right
        a(href='#') Back to top
              
    p &copy; 2017-2018 Company, Inc. &middot; 
        a(href='#') Privacy &middot; 
        a(href='#') Terms
           