extends layout.jade

block content
	// h1 Hola mundo desde Jade *Comentario visible como comentario de HTML enn el navegador
	//- h2 Estaciones del Año en México *Comentario en Jade se ocultará en el HTML del navegador
	//- Bloque de comentarios
    h1 Pagina de Inicio
    p= 'Sistema de login y registro'