extends ../templates/default

block content
    br
    h2.mt-2.pl-2 AGENTE
        table.table.table-bordered.table-hover.mt-5
            thead(style="")
                tr
                    th Email
                    th Nombre
                    th Domicilio
                    th Telefono
                    th Actions
            tbody(style="")
            -each val in data
                 tr(style="font-size: 10px;")
                    td #{val.email}
                    td #{val.nombre}
                    td #{val.Domicilio}
                    td #{val.Telefono}
                    td
                        a.btn.btn-success(href="#") Nuevo
                        a.btn.btn-success(href="#") Editar
                        br
                        a.btn.btn-danger(href="#") Eliminar
