extends ../templates/default

block content
    br
    h2.mt-2.pl-2 DEUDORES
        table.table.table-bordered.table-hover.mt-5.mb-3
            thead(style="")
                tr
                    th Name
                    th Numero Cliente
                    th Region
                    th Telefono M.
                    th Telefono C.
                    th Deuda
                    th Fecha Deuda
                    th Fecha Venc.
                    th Actions
            tbody(style="")
            -each val in data
                 tr(style="font-size: 10px;")
                    td #{val.Nombre}
                    td #{val.NumCliente}
                    td #{val.Region}
                    td #{val.TelefonoMovil}
                    td #{val.TelefonoContacto}
                    td $#{val.Deudas}
                    td #{val.FechaD}
                    td #{val.FechaV}
                    td
                        a.btn.btn-success(href="#") Editar
                        br
                        a.btn.btn-danger(href="#") Eliminar

                            