extends ../templates/default

block content
  main(role='main')
    section.jumbotron.text-center.bg-white
        div.container
          h1.jumbotron-heading SISTEMA DE RECUPERACION DE CUENTAS
          h2='Hola ADMIN  ' + user.email

          p.lead.text-muted BIENVENIDO

    hr

    //-div.container.col-sm-10.cont
      h4.text-center Proyecto II

      h6.text-center Flores Ornelas Hannia Melissa 256910

      h6.text-center Mendoza Trejo Lizeth Ailet 228378

      h6.text-center Pe&ntilde;a Hern&aacute;ndez Ana Laura 256909

    main(role="main")
      div.container.marketing
        div.row.center
          div.col-lg-4(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/265/265668.svg', alt='Generic placeholder image', width='140', height='140')

            h2 Agentes

            p.text-secondary Consulta de Agentes

            p
              a.btn.btn-outline-primary(href='http://localhost:3000/users/agentes', role='button') Ir a &raquo;

          div.col-lg-4(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/265/265667.svg', alt='Generic placeholder image', width='140', height='140')

            h2 Deudores

            p.text-secondary Consulta de Deudores

            p
              a.btn.btn-outline-primary(href='http://localhost:3000/users/home', role='button') Ir a &raquo;

          div.col-lg-4(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/265/265674.svg', alt='Generic placeholder image', width='140', height='140')

            h2 Perfil

            p.text-secondary Configura tu información

            p
              a.btn.btn-outline-primary(href='#', role='button') Ir a &raquo;


          div.col-lg-4(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/265/265692.svg', alt='Generic placeholder image', width='140', height='140')

            h2 Sucursales

            p.text-secondary Consulta las sucursales disponibles

            p
              a.btn.btn-outline-primary(href='http://localhost:3000/users/sucursal', role='button') Ir a &raquo;

          div.col-lg-4(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/438/438526.svg', alt='Generic placeholder image', width='140', height='140')

            h2 Pagos

            p.text-secondary Consulta los pagos de los clientes

            p
            a.btn.btn-outline-primary(href='http://localhost:3000/users/sesiones', role='button') Ir a &raquo;

          div.col-lg-4(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/265/265670.svg', alt='Generic placeholder image', width='140', height='140')

            h2 Sesiones

            p.text-secondary Programar nuevas formas de pago del deudor

            p
            a.btn.btn-outline-primary(href='#', role='button') Ir a &raquo;
