extends ../templates/default

block content
    div(class='row')
        div(class='col-md-6 offset-md-3 mt-5')
            if message.length > 0
                div.alert.alert-success.alert-dismissible.fade.show(role="alert")=message
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true") &times;
            div.card
                div.card-header.text-center Iniciar Sesión
                    
                div.card-body
                    form(action="http://localhost:3000/auth/signin" method="post")
                        div.form-group
                        label(for='email') Email
                                    
                        input.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email' id='email' name="username")

                        div.form-group
                        label(for='password') Password
                                    
                        input.form-control(type='password', placeholder='Password' id='password' name='password')
                        br
                        br
                        br   
                        button.btn.btn-primary.btn-lg.btn-block(type='submit') Login
            
            if authmessage.length > 0
                div.alert.alert-danger.alert-dismissible.fade.show(role="alert")=authmessage
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                        span(aria-hidden="true") &times;