extends ../templates/default

block content
    br
    h2.mt-2.pl-2 SUCURSALES
        table.table.table-bordered.table-hover.mt-5
            thead(style="")
                tr
                    th Nombre
                    th Direccion
                    th Telefono
                    th Horario
                    th Region
                    th Actions

            tbody(style="")
            -each val in data
                 tr(style="font-size: 10px;")
                    td #{val.Nombre}
                    td #{val.Direccion}
                    td #{val.Telefono}
                    td #{val.Horario}
                    td #{val.Region}
                    td
                        a.btn.btn-success(href="http://localhost:3000/users/sesiones") Sesiones
                        br
                        a.btn.btn-danger(href="#") Eliminar
