extends layout.jade

block content
	// h1 Hola mundo desde Jade *Comentario visible como comentario de HTML enn el navegador
	//- h2 Estaciones del Año en México *Comentario en Jade se ocultará en el HTML del navegador
	//- Bloque de comentarios
	setion.container 
		include header
		article.item
			-if(data.length)
				//-p Mostrar datos
				table.table
					tr 
						th Id
						th Titulo
						th Año
						th Puntuación
						th Poster
						th(colspan="2")
							form(method="get" action="/agregar")
								input.button.add(type="submit" value="Agregar")
						
					-each movie in data
						tr
							td #{movie.movie_id}
							td #{movie.name_title}
							td #{movie.release_year}
							td #{movie.rating}
							td  
								img.poster(src="#{movie.image}", alt="#{movie.name_title}")
							td 
								form(method="get" action="/editar/#{movie.movie_id}")
									input.button.edit(type="submit" value="Editar")
							td 
								form(method="post" action="/eliminar/#{movie.movie_id}")
									input.button.delete(type="button" value="Eliminar" onclick="eliminar(this)")
				script.
					function eliminar(input)
					{
						var deleteOk = confirm('¿Estás seguro de eliminar la película?')
						return (deleteOk) ? input.parentNode.submit() : false
					}
			-else
				p.error No existen Peliculas en la BD		