/*html {
	font-family: sans-serif;
	font-size: 16px;
	color: #FFF;
	background-color: #1D1D1D;
	text-align: center;
}

a { color: #80BD01; }

a:hover { color: rgba(128,189,1,.5); }

li { list-style-position: inside; }

#jade, #ejs {
	font-size: 2rem;
	border: medium solid #80BD01;
	box-shadow: .25rem .25rem .5rem rgba(255, 255, 255, .5);
}

.container {
	margin: auto;
	padding: 1rem;
	width: 80%;
}

#logo-node {
	margin: auto;
	height: 150px;
	width: 450px;
	background: transparent url('../img/nodejs-monitor.png') no-repeat center;
	background-size: contain;
}

.boton {
	border: 0;
	font-size: 2rem;
	color: #1D1D1D;
	background-color: #80BD01;
}

.boton:hover {
	color: #80BD01;
	background-color: #DDD;
	cursor: pointer;	
}

.item {
	float: left;
	width: 25%;
}

.error {
	display: block;
	margin: auto;
	padding: 1rem;
	width: 90%;
	overflow-x:  scroll;
	text-align: left;
	background-color: #303030;
	color: #80BD01;
}

*/

html { background-color: #1D1D1D;}
a, h1, h2, label {
	color: #80BD01;
}

a:hover {
	opacity: .75;
}

fieldset{
	padding: 1rem;
	border: medium solid #80BD01;
}

.logo{
	display: block;
	margin: 1rem auto;
	width: 450px;
	height: 150px;
	vertical-align: bottom;
	background: url("../img/nodejs-monitor.png") no-repeat;
	background-size: contain;
}

.error{
	font-size: 2rem;
	padding: 1rem;
	background-color:  #80BD01;
	color: beige;
}

.poster{
	max-width: 100px;
}

.table{
	width: 100%;
}

.table td, .table th {
	padding: 1rem;
}
.table tr:first-child{
	background-color: #292623;
	color: #80BD01;
}

.table tr:nth-child(even) {
	/*PARES*/
	background-color:#CCC;

}

.table tr:nth-child(odd):not(:first-child){
	/*NONES*/
	background-color: #EEE;
}

/*FORMULARIO PARA AGREGAR*/

.button{
	padding:  .5rem, 1rem;
	color: #FFF;
	background-color: #80BD01;
	cursor: pointer;
	border-color: #80BD01;
}

.button:hover{
	opacity: .75;
}
.add { background-color: #0B0; }

.edit { background-color: #0871B2; }

.delete { background-color: #D23641; }