extends ../templates/default
block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Users
        li.breadcrumb-item.active Actualizar Numero
    H3.mt-5.text-center ACTUALIZACIÓN DEL NUMERO DEL DEUDOR

    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')
                //- if message.length > 0
                //-     div.alert.alert-success.alert-dismissible.fade.show(role="alert")=message
                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                //-             span(aria-hidden="true") &times;
                div.card.border-success
                    div.card-header.text-center Numero del Cliente
                        
                    div.card-body

                        form(method="post" action="/users/panel")
                            
                            div.form-row
                                div.form-group.col-md-6
                                    label(for='fecha') Fecha
                                        
                                    input#fecha.form-control(type='date' name="fecha")
                                
                                div.form-group.col-md-6
                                    label(for='telcont') Telefono de Contacto
                                        
                                    input#telcont.form-control(type='text' name="telcont")
                                     
                                div.form-group.col-md-6
                                    label(for='agente') Agente
                                        
                                    input#agente.form-control(type='text' name="agente" value="#{user.idAgente}" readonly)

                                div.form-group.col-md-6
                                    label(for='iddeudor') Deudor

                                    input#iddeudor.form-control(type='text' readonly value="#{data[0].idDeudor}" name="iddeudor")
                               
                                div(class="form-group col-md-12")
                                    label(for="descripcion") Descripción
                                    textarea(class="form-control" id="descripcion" rows="3" name="descripcion")
                                
                                
                            button.btn.btn-primary(type='submit') Actualizar Numero
                            