extends ../templates/default
block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Users
        li.breadcrumb-item.active Consultas
    H3.mt-5.text-center OPERACIONES EN BASE A LA SESIÓN

    div(class='row')
            div(class='col-md-10 offset-md-1 mt-5')

                div.card.border-primary
                    div.card-header.text-center Acciones ante Clientes Deudores
                        
                    div.card-body

                        -if(data.length)
                            table.table.table-bordered.table-hover.mt-5

                                thead(style="")
                                    tr
                                        th Id
                                        th Name
                                        th Numero Cliente
                                        th Telefono M.
                                        th Telefono C.
                                        th Actions
                                tbody(style="")
                                -each val in data
                                    tr(style="font-size: 14px;")
                                        th #{val.idDeudor}
                                        td #{val.Nombre}
                                        td #{val.NumCliente}
                                        td #{val.TelLeyenda} ----- #{val.TelefonoMovil}
                                        td #{val.TelefonoC}

                                        td(colspan="2")
                                            form(method="GET" action="/users/generarPagos/#{val.idDeudor}")
                                                input.btn.btn-outline-success.btn-sm(type="submit" value="Formar Plan Pago")
                                            form(method="GET" action="/users/eliminarNum/#{val.idDeudor}")    
                                                input.btn.btn-outline-danger.btn-sm(type="submit" value="Eliminar Numero")
                                            form(method="GET" action="/users/actualizarNum/#{val.idDeudor}")
                                                input.btn.btn-outline-info.btn-sm(type="submit" value="Cambiar Numero")
                                            form(method="GET" action="/users/enviarCorreo/#{val.idDeudor}")
                                                input.btn.btn-outline-warning.btn-sm(type="submit" value="Plan de Pago")

                