extends ../templates/default
block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Users
        li.breadcrumb-item.active Eliminar Numero
    H3.mt-5.text-center ELIMINACION DEL NUMERO NO ENCONTRADO

    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')
                //- if message.length > 0
                //-     div.alert.alert-success.alert-dismissible.fade.show(role="alert")=message
                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                //-             span(aria-hidden="true") &times;
                div.card.border-secondary
                    div.card-header.text-center Eliminar un numero no existente
                        
                    div.card-body

                        form(method="POST" action="/users/home")
                                
                            div.form-row
                                div.form-group.col-md-6
                                    label(for='fecha') Fecha
                                            
                                    input#fecha.form-control(type='date' name="fecha")

                                div.form-group.col-md-6
                                    label(for='tel') Telefono

                                    input#tel.form-control(type='text' name="tel")
                                        
                                div.form-group.col-md-6
                                    label(for='telanterior') Telefono Anterior

                                    input#telanterior.form-control(type='text' name="telanterior" value="#{data[0].TelefonoMovil}")

                                div.form-group.col-md-6
                                    label(for='iddeudor') Id Deudor

                                    input#iddeudor.form-control(type='number' readonly value="#{data[0].idDeudor}" name="iddeudor")

                                div.form-group.col-md-6

                                    label(for='agente') Agente

                                    input#agente.form-control(type='text' name="agente" value="#{user.idAgente}")
                                
                                div(class="form-group col-md-6")

                                    label(for='corroboraciones') Numero de Corroboraciones

                                    input#corroboraciones.form-control(type='number' name="corroboraciones")
                                   
                                    
                                    
                            button.btn.btn-primary(type='submit') Eliminar Numero
                            