extends ../templates/default
block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Users
        li.breadcrumb-item.active Plan Cliente
    H3.mt-5.text-center GENERAR PLAN DEL CLIENTE

    div(class='row')
            div(class='col-md-8 offset-md-2 mt-5')
                //- if message.length > 0
                //-     div.alert.alert-success.alert-dismissible.fade.show(role="alert")=message
                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                //-             span(aria-hidden="true") &times;
                div.card
                    div.card-header.text-center Generar Plan de Pagos
                        
                    div.card-body
                        form(method="post" action="/users/generarPagos")
                            
                            div.form-row
                                div.form-group.col-md-6
                                    label(for='deuda') Deuda
                                        
                                    input#deuda.form-control(type='text' name="deuda" value="#{pagos[0].Deuda}")

                                div.form-group.col-md-6
                                    label(for='fechaUP') Fecha del ultimo Pago

                                    input#fechaUP.form-control(type='datetime' name="fechaUP" value="#{pagos[0].FechaUltimoPago}")
                                     

                                div.form-group.col-md-6
                                    label(for='fechanueva') Fecha Nuevo Pago
                                        
                                    input#fechanueva.form-control(type='date' name="fechanueva")

                                hr

                                div.form-group.col-md-6
                                    label(for='fechaNP') Fecha de Pago
                                        
                                    input#fechaNP.form-control(type='datetime' name="fechaNP" value="#{pagos[0].FechaDeudaActual}")

                                div.form-group.col-md-6                              
                                
                                    label(for='regiones') Sucursales Disponibles

                                    select#regiones.form-control(name="regiones")
                                        -each val in data      
                                            option(value="#{val.idSucursal}") Sucursal - #{val.Nombre} --- #{val.Direccion} --- Region- #{val.idRegion}
                                        

                                div.form-group.col-md-6
                                    label(for='meses') Meses(2,4,6,8,12)
                                        
                                    input#meses.form-control(type='text' name="meses" value="#{pagos[0].Meses}")

                                div.form-group.col-md-6
                                    label(for='monto') Monto
                                        
                                    input#monto.form-control(type='text' name="monto"  value="#{pagos[0].Monto}")

                                div.form-group.col-md-6
                                    label(for='intereses') Interes
                                        
                                    input#intereses.form-control(type='text' name="intereses" value="#{pagos[0].Intereses}")

                                div.form-group.col-md-6
                                    label(for='pago') Pagos de
                                        
                                    input#pago.form-control(type='text' name="pago"  value="#{pagos[0].Pago}")


                                div.form-group.col-md-6
                                    label(for='saldosI') Saldo Insolutos
                                        
                                    input#saldosI.form-control(type='text' name="saldosI"  value="#{pagos[0].SaldosInsolutos}")
                                
                                    input#idpago(type="hidden" value="#{pagos[0].idPago}" name="idpago")
                                
                                
                                button.btn.btn-primary(type='submit') Generar Plan
                                br
                                br

                    button.btn.btn-primary(type="button" id="enviar") CALCULAR SALDOS INSOLUTOS
                    br
                    br
                    p.ml-5.mt-2(type='text' name="calSI" id="calSI") Saldo:
                    P.ml-5 PAGOS DE: 
                    p#demo.ml-5.mt-2
                    p#demo2.ml-5.mt-2
                    p#demo3.ml-5.mt-2
                    p#demo4.ml-5.mt-2
                    p#demo5.ml-5.mt-2
                    p#demo6.ml-5.mt-2
                    p#demo7.ml-5.mt-2
                    p#demo8.ml-5.mt-2
                    p#demo9.ml-5.mt-2
                    p#demo10.ml-5.mt-2
                    p#demo11.ml-5.mt-2
                    p#demo12.ml-5.mt-2
                    p#demo13.ml-5.mt-2

                    p#demo14.ml-5.mt-2


                    div(id="map")
                    script.
                        function initMap() {
                            var myLatLng = {lat: -25.363, lng: 131.044};

                            // Create a map object and specify the DOM element
                            // for display.
                            var map = new google.maps.Map(document.getElementById('map'), {
                            center: myLatLng,
                            zoom: 4
                            });

                            // Create a marker and set its position.
                            var marker = new google.maps.Marker({
                            map: map,
                            position: myLatLng,
                            title: 'Hello World!'
                            });
                        }

                    
                    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNFJJoSm4QiZvYLIvIyflVlJCFr86v318&callback=initMap" async defer)
                    script.

                        document.getElementById('enviar').addEventListener("click", pulsar, false);

                            function pulsar(){
                                var valorT = document.getElementById("deuda").value;
                                var valorM = document.getElementById("meses").value;
                                var Pagos = Math.round(valorT / valorM);

                                var valorIn = document.getElementById("intereses").value;
                                var valorDeuda = document.getElementById("deuda").value;
                                var valorIntereses = valorIn * valorDeuda;

                                var totalD = document.getElementById("deuda").value;
                                var valorPagare = Pagos + valorIntereses;  

                                

                                var temp = Math.round(totalD - Pagos); //SALDO PENDIENTE
                                var segI = temp * valorIn; //INTERES 
                                var suma = segI +  Pagos; //SUMA PAGOS  +  INTERESES

                                var temp2 = Math.round(temp - Pagos);
                                var seg2I = temp2 * valorIn;
                                var suma2 = seg2I + Pagos;

                                var sumaFinal1 = valorIntereses + suma + suma2;

                                var temp3 = Math.round(temp2 - Pagos);
                                var seg3I = temp3 * valorIn;
                                var suma3 = seg3I + Pagos;

                                

                                var temp4 = Math.round(temp3 - Pagos);
                                var seg4I = temp4 * valorIn;
                                var suma4 = seg4I + Pagos;

                                var sumaFinal2 = valorIntereses + suma + suma2 + suma3 + suma4;

                                var temp5 = Math.round(temp4 - Pagos);
                                var seg5I = temp5 * valorIn;
                                var suma5 = seg5I + Pagos;

                                var temp6 = Math.round(temp5 - Pagos);
                                var seg6I = temp6 * valorIn;
                                var suma6 = seg6I + Pagos;

                                var sumaFinal3 = valorIntereses + suma + suma2 + suma3 + suma4 + suma5 + suma6;

                                var temp7 = Math.round(temp6 - Pagos);
                                var seg7I = temp7 * valorIn;
                                var suma7 = seg7I + Pagos;


                                var temp8 = Math.round(temp7 - Pagos);
                                var seg8I = temp8 * valorIn;
                                var suma8 = seg8I + Pagos;

                                var sumaFinal4 = valorIntereses + suma + suma2 + suma3 + suma4 + suma5 + suma6 + suma7 + suma8;

                                var temp9 = Math.round(temp8 - Pagos);
                                var seg9I = temp9 * valorIn;
                                var suma9 = seg9I + Pagos;



                                var temp10 = Math.round(temp9 - Pagos);
                                var seg10I = temp10 * valorIn;
                                var suma10 = seg10I + Pagos;

                                 var sumaFinal5 = valorIntereses + suma + suma2 + suma3 + suma4 + suma5 + suma6 + suma7 + suma8 + suma9 + suma10;

                                var temp11 = Math.round(temp10 - Pagos);
                                var seg11I = temp11 * valorIn;
                                var suma11 = seg11I + Pagos;

                                var temp12 = Math.round(temp11 - Pagos);
                                var seg12I = temp12 * valorIn;
                                var suma12 = seg12I + Pagos;

                                var sumaFinal6 = valorIntereses + suma + suma2 + suma3 + suma4 + suma5 + suma6 + suma7 + suma8 + suma9 + suma10 + suma11 + suma12;


                                if(valorM == 2){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;

                                document.getElementById("demo4").innerHTML = "";
                                document.getElementById("demo5").innerHTML = "";
                                document.getElementById("demo6").innerHTML = "";
                                document.getElementById("demo7").innerHTML = "";
                                document.getElementById("demo8").innerHTML = "";
                                document.getElementById("demo9").innerHTML = "";
                                document.getElementById("demo10").innerHTML = "";
                                document.getElementById("demo11").innerHTML = "";
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                document.getElementById('demo14').innerHTML = sumaFinal1;

                                }else{
                                    console.log("error");
                                }

                                if(valorM == 6){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg4I  + "    PAGO TOTAL : " + suma4+ " PENDIENTE " + temp5;
                                document.getElementById("demo7").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg5I  + "    PAGO TOTAL : " + suma5+ " PENDIENTE " + temp6;
                                document.getElementById("demo8").innerHTML = "";
                                document.getElementById("demo9").innerHTML = "";
                                document.getElementById("demo10").innerHTML = "";
                                document.getElementById("demo11").innerHTML = "";
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                 document.getElementById('demo14').innerHTML = sumaFinal3;
                                }else{
                                    console.log("error");
                                }
                                
                                if(valorM == 4){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML = "";
                                document.getElementById("demo7").innerHTML = "";
                                document.getElementById("demo8").innerHTML = "";
                                document.getElementById("demo9").innerHTML = "";
                                document.getElementById("demo10").innerHTML = "";
                                document.getElementById("demo11").innerHTML = "";
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                document.getElementById('demo14').innerHTML = sumaFinal2;

                                }else{
                                    console.log("error");
                                }


                                if(valorM == 8){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg4I  + "    PAGO TOTAL : " + suma4+ " PENDIENTE " + temp5;
                                document.getElementById("demo7").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg5I  + "    PAGO TOTAL : " + suma5+ " PENDIENTE " + temp6;

                                 document.getElementById("demo8").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg6I  + "    PAGO TOTAL : " + suma6+ " PENDIENTE " + temp7;
                                document.getElementById("demo9").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg7I  + "    PAGO TOTAL : " + suma7+ " PENDIENTE " + temp8;
                                document.getElementById("demo10").innerHTML = "";
                                document.getElementById("demo11").innerHTML = "";
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                 document.getElementById('demo14').innerHTML = sumaFinal4;


                                }else{
                                    console.log("error");
                                }


                                if(valorM == 10){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg4I  + "    PAGO TOTAL : " + suma4+ " PENDIENTE " + temp5;
                                document.getElementById("demo7").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg5I  + "    PAGO TOTAL : " + suma5+ " PENDIENTE " + temp6;
                                document.getElementById("demo8").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg6I  + "    PAGO TOTAL : " + suma6+ " PENDIENTE " + temp7;
                                document.getElementById("demo9").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg7I  + "    PAGO TOTAL : " + suma7+ " PENDIENTE " + temp8;
                                 document.getElementById("demo10").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg8I  + "    PAGO TOTAL : " + suma8+ " PENDIENTE " + temp9;
                                document.getElementById("demo11").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg9I  + "    PAGO TOTAL : " + suma9+ " PENDIENTE " + temp10;
                                document.getElementById("demo12").innerHTML = "";
                                document.getElementById("demo13").innerHTML = "";
                                 document.getElementById('demo14').innerHTML = sumaFinal5;

                                }else{
                                    console.log("error");
                                }

                                if(valorM == 12){

                                document.getElementById("demo").innerHTML=  "AC:  " +Pagos;
                                document.getElementById("demo2").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  valorIntereses  + "    PAGO TOTAL : " + valorPagare+ " PENDIENTE " + temp;
                                document.getElementById("demo3").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  segI  + "    PAGO TOTAL : " + suma+ " PENDIENTE " + temp2;
                                document.getElementById("demo4").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg2I  + "    PAGO TOTAL : " + suma2+ " PENDIENTE " + temp3;
                                document.getElementById("demo5").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg3I  + "    PAGO TOTAL : " + suma3+ " PENDIENTE " + temp4;
                                document.getElementById("demo6").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg4I  + "    PAGO TOTAL : " + suma4+ " PENDIENTE " + temp5;
                                document.getElementById("demo7").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg5I  + "    PAGO TOTAL : " + suma5+ " PENDIENTE " + temp6;
                                document.getElementById("demo8").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg6I  + "    PAGO TOTAL : " + suma6+ " PENDIENTE " + temp7;
                                document.getElementById("demo9").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER TMES " +  seg7I  + "    PAGO TOTAL : " + suma7+ " PENDIENTE " + temp8;
                                document.getElementById("demo10").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER CMES " +  seg8I  + "    PAGO TOTAL : " + suma8+ " PENDIENTE " + temp9;
                                document.getElementById("demo11").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER QMES " +  seg9I  + "    PAGO TOTAL : " + suma9+ " PENDIENTE " + temp10;
                                document.getElementById("demo12").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SMES " +  seg10I  + "    PAGO TOTAL : " + suma10+ " PENDIENTE " + temp11;
                                document.getElementById("demo13").innerHTML=  "AC:  " +Pagos + "  INTERESES PRIMER SEMES " +  seg11I  + "    PAGO TOTAL : " + suma11+ " PENDIENTE " + temp12;
                                document.getElementById('demo14').innerHTML = sumaFinal6;
                                }else{
                                    console.log("error");
                                }
                                
                                


                                
                        }
                            
                    
                    
                


                            
