extends ../templates/default

block content
    ol.breadcrumb
        li.breadcrumb-item
            a(href='#') Users
        li.breadcrumb-item.active Home
    br
    h2.mt-2.pl-5 DEUDORES
    -each val in data
        div.card.border-primary.col-md-9.offset-md-2.25.mt-5
            div.card-header PAGINA DEL DIA
            div.card-body
                h4.card-title Informacion de: #{val.Nombre} 
                p.card-text.text-info ID : #{val.idDeudor}
                p.card-text.text-info No. Cliente : #{val.NumCliente} Region : #{val.Region}
                p.card-text Tel. Movil:  #{val.TelefonoMovil} 
                p.card-text Tel. Contacto : #{val.TelefonoContacto}
                p.card-text Deudas : $ #{val.Deudas}  
                p.card-text Fecha Deuda #{val.FechaD}  
                p.card-text Fecha V. Deuda #{val.FechaV}
                br
                hr
                p.card-text.text-info Tel Anterior: #{val.TelAnterior} 
                p.card-text Fecha Modificacion: #{val.Fecha}        
                p.card-text.text-info Agente: #{val.Agente} 
                p.card-text Numero de Veces: #{val.VecesC} 
                hr
                p.card-text Fecha Cambio: #{val.FechaCambio}       
                p.card-text.text-info Nuevo Telefono de Contacto: #{val.TelefonoC}
                p.card-text.text-info Descripcion: #{val.Descripcion}


            //-a.btn.btn-outline-primary(href="/add/sesiones") Sesión

            form(method="GET" action="/add/sesiones/#{val.idDeudor}")
                input.btn.btn-outline-primary.col-md-12(type="submit" value="Sesion")

        -each val in data

                    
                        

                            