extends ../templates/default

block content
  main(role='main')
    section.jumbotron.text-center.bg-white
        div.container
          h1.jumbotron-heading SISTEMA DE RECUPERACION DE CUENTAS
          h2='Hola Agente  ' + user.nombre
                   
          p.lead.text-muted BIENVENIDO
          
           
    hr
                
    main(role="main")
      div.container.marketing
        div.row.center
          
          div.col-md-3(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/265/265667.svg', alt='Generic placeholder image', width='140', height='140')
                        
            h2 Deudores
                        
            p.text-secondary Consulta de Deudores
                        
            p
              a.btn.btn-outline-primary(href='http://localhost:3000/users/home', role='button') Ir a &raquo;


          
          div.col-md-3(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/265/265674.svg', alt='Generic placeholder image', width='140', height='140')
                        
            h2 Perfil
                        
            p.text-secondary Configura tu información
                        
            p
              form(method="GET" action="/users/perfil/#{user.idAgente}")
                input.btn.btn-outline-primary(type="submit" value="Editar >>")

          
          div.col-md-3(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/265/265683.svg', alt='Generic placeholder image', width='140', height='140')
                        
            h2 Reportes
                        
            p.text-secondary Ver reportes del dia
                        
            p
              form(method="GET" action="/users/reportedia/#{user.idAgente}")
                input.btn.btn-outline-primary(type="submit" value="Ver >>")

          div.col-md-3(style="text-align:center;")
            img.rounded-circle(src='https://image.flaticon.com/icons/svg/204/204325.svg', alt='Generic placeholder image', width='140', height='140')
                        
            h2 Reportes
                        
            p.text-secondary Ver reportes del mes
                        
            p
              form(method="GET" action="/users/reportemes/#{user.idAgente}")
                input.btn.btn-outline-primary(type="submit" value="Ver >>")

            p 
              a(href="http://localhost:3000/users/consulta") Ir a consulta
          

