extends ../templates/default
block content
    H3.mt-5.text-center EMAILS

    div(class='row')
        div(class='col-md-8 offset-md-2 mt-5')

            div.card.border-info
                div.card-header.text-center Generar Plan de Pagos Final
                        
                div.card-body
                    form(method="post" action="panel2")
                            
                        div.form-row

                            div.form-group.col-md-12
                                label(for='asunto') Nombre o Asunto:
                                        
                                input#asunto.form-control(type='asunto' name="asunto")

                            div.form-group.col-md-12
                                label(for='email') Email Deudor
                                        
                                input#email.form-control(type='email' name="email")

                            div(class="form-group col-md-12")

                                label(for="descripcion") Descripción o Mensaje

                                textarea(class="form-control" id="descripcion" rows="3" name="descripcion")

                        button.btn.btn-primary(type="submit") Enviar Correo